<div>
  <header>
    <div class="container-fluid">
      <div class="header-wrap">
        <div class="header-top d-flex justify-content-between align-items-center">
          <div class="logo" style="margin-left:4rem">
            <a href="#"><img src="../assets/img/f-logo.png" alt=""></a>
          </div>
          <div class="main-menubar d-flex align-items-center">
            <div class="menu-bar" style="margin-right:4rem"><i class="fa fa-bars" aria-hidden="true"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
</div>
<div class="container-fluid" style=" background-image: linear-gradient(to bottom right, #9E36E9, #4DCBBE);">
  <div class="row">
    <div class="col-md-9" style="padding:0 !important">
      <div class="content"></div>
    </div>
    <div class="col-md-3" style="padding:0 !important">
      <img src="../assets/img/birf.jpg" style="height:100%;width:100%">
    </div>
  </div>
  <div class="row">
    <div class="col-md-9" style="padding:0 !important">
      <div>
        <h1 class="text-white text-uppercase" style="margin-left:15rem;font-weight: bold !important">Instead of eating,
          <br> you should feel the garnishing</h1>
        <p class="text-white" style="margin-left:15rem">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
          do eiusmod tempor <br>incididunt ut labore et dolore magna aliqua.</p>
        <a href="#" class="primary-btn d-inline-flex align-items-center" style="margin-left:15rem"><span class="mr-10">Get
            Started</span><i class="fa fa-arrow-right" aria-hidden="true" style="color:white"></i>
        </a>
      </div>
    </div>
    <div class="col-md-3" style="padding:0 !important">
      <img src="../assets/img/dog.jpg" style="height:100%;width:100%">
    </div>
  </div>
  <div class="row">
    <div class="col-md-9">
    </div>
    <div class="col-md-3" style="padding:0 !important">
      <img src="../assets/img/b.jpg" style="height:100%;width:100%">
    </div>
  </div>
</div>
<!-- Start Feature Area -->
<section class="featured-area">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="single-feature">
          <div class="icon">
            <i class="fa fa-sun-o" aria-hidden="true" style="font-size:2rem;margin-top:25%;color: linear-gradient(to bottom right, #9E36E9, #4DCBBE);"></i>
          </div>
          <div class="desc text-center">
            <h6 class="title text-uppercase">Stunning Visuals</h6>
            <p>Here, I focus on a range of items and features that we use in life without giving them a second
              thought such as Coca Cola, body</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="single-feature">
          <div class="icon">
            <i class="fa fa-code" aria-hidden="true" style="font-size:2rem;margin-top:25%;color: linear-gradient(to bottom right, #9E36E9, #4DCBBE);"></i>
          </div>
          <div class="desc text-center">
            <h6 class="title text-uppercase">Clean Code</h6>
            <p>Over 92% of computers are infected with Adware and spyware. Such software is rarely accompanied by
              uninstall utility </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="single-feature">
          <div class="icon">
            <i class="fa fa-clock-o" aria-hidden="true" style="font-size:2rem;margin-top:25%;color: linear-gradient(to bottom right, #9E36E9, #4DCBBE);"></i>
          </div>
          <div class="desc text-center">
            <h6 class="title text-uppercase">Punctuality</h6>
            <p>If you own an Iphone, you’ve probably already worked out how much fun it is to use it to watch
              movies-it has that nice big screen</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="single-feature">
          <div class="icon">
            <i class="fa fa-sun-o" aria-hidden="true" style="font-size:2rem;margin-top:25%;color: linear-gradient(to bottom right, #9E36E9, #4DCBBE);"></i>
          </div>
          <div class="desc text-center">
            <h6 class="title text-uppercase">Stunning Visuals</h6>
            <p>Here, I focus on a range of items and features that we use in life without giving them a second
              thought such as Coca Cola, body</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="single-feature">
          <div class="icon">
            <i class="fa fa-code" aria-hidden="true" style="font-size:2rem;margin-top:25%;color: linear-gradient(to bottom right, #9E36E9, #4DCBBE);"></i>
          </div>
          <div class="desc text-center">
            <h6 class="title text-uppercase">Clean Code</h6>
            <p>Over 92% of computers are infected with Adware and spyware. Such software is rarely accompanied by
              uninstall utility </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="single-feature">
          <div class="icon">
            <i class="fa fa-clock-o" aria-hidden="true" style="font-size:2rem;margin-top:25%;color: linear-gradient(to bottom right, #9E36E9, #4DCBBE);"></i>
          </div>
          <div class="desc text-center">
            <h6 class="title text-uppercase">Punctuality</h6>
            <p>If you own an Iphone, you’ve probably already worked out how much fun it is to use it to watch
              movies-it has that nice big screen</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="story-area">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-3">
        <div class="story-title sm-show text-center">
          <h3 class="text-white">Our Untold Story</h3>
          <span class="text-uppercase text-white">Re-imagining the way</span>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="story-box">
          <h6 class="text-uppercase">From the part of beginning</h6>
          <p>Usage of the Internet is becoming more common due to rapid advancement of technology and the power of
            globalization. Societies are becoming more inter-connected. Thoughts from different</p>
          <a href="#" class="primary-btn d-inline-flex align-items-center"><span class="mr-10">Get Started</span><i class="fa fa-arrow-right"></i></a>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="story-title sm-hide text-right">
          <span class="text-uppercase text-white">Re-imagining the way</span>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="amazing-works-area">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="section-title text-center">
          <h3>Our Amazing Works</h3>
          <span class="text-uppercase">Re-imagining the way</span>
        </div>
      </div>
    </div>
    <div class="active-works-carousel mt-40">
      <div class="item">
        <div class="thumb" style="background: url(../assets/img/apple.jpg)"></div>
        <div class="caption text-center">
          <h6 class="text-uppercase">Vector Illustration</h6>
          <p>LCD screens are uniquely modern in style, and the liquid crystals <br> that make them work have allowed
            humanity to</p>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="brand-area">
  <div class="container">
    <div class="total-brand d-flex justify-content-around">
      <img src="../assets/img/b1.png" alt="">
      <img src="../assets/img/b2.png" alt="">
      <img src="../assets/img/b3.png" alt="">
      <img src="../assets/img/b4.png" alt="">
      <img src="../assets/img/b5.png" alt="">
    </div>
  </div>
</div>
<section class="story-area-2">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-3">
        <div class="story-title sm-show text-center">
          <h3 class="text-white">Our Untold Story</h3>
          <span class="text-uppercase text-white">Re-imagining the way</span>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="story-box">
          <h6 class="text-uppercase">From the part of beginning</h6>
          <p>Usage of the Internet is becoming more common due to rapid advancement of technology and the power of
            globalization. Societies are becoming more inter-connected. Thoughts from different</p>
          <a href="#" class="primary-btn d-inline-flex align-items-center"><span class="mr-10">Get Started</span><i class="fa fa-arrow-right"></i></a>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="story-title sm-hide text-right">
          <h3 class="text-white">Our Untold Story</h3>
          <span class="text-uppercase text-white">Re-imagining the way</span>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="subscription-area">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="section-title text-center">
          <h3>Subscribe for our Newsletter</h3>
          <span class="text-uppercase">Re-imagining the way</span>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div id="mc_embed_signup">
          <form target="_blank" novalidate action=""
            method="get" class="subscription relative">
            <input type="email" name="EMAIL" placeholder="Email address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email address'"
              required>
            <div style="position: absolute; left: -5000px;">
              <input type="text" name="input" tabindex="-1" value="">
            </div>
            <button class="primary-btn hover d-inline-flex align-items-center" style="background:linear-gradient(to bottom right, #9E36E9, #4DCBBE)"><span class="mr-10">Get Started</span><i
                class="fa fa-arrow-right" aria-hidden="true"></i>
            </button>
            <div class="info"></div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="footer-widget-area" style="background-image: linear-gradient(to bottom right, #9E36E9, #4DCBBE);">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="single-widget d-flex flex-wrap justify-content-between">
          <div class="icon d-flex align-items-center justify-content-center">
            <i class="fa fa-globe" aria-hidden="true" style="font-size:2rem;margin-top:10%;color:white"></i>
          </div>
          <div class="desc">
            <h6 class="title text-uppercase">Address</h6>
            <p>56/8, panthapath, west <br> dhanmondi, kalabagan, <br>Dhaka - 1205</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="single-widget d-flex flex-wrap justify-content-between">
          <div class="icon d-flex align-items-center justify-content-center">
            <i class="fa fa-map-marker" style="font-size:2rem;margin-top:10%;color:white;" aria-hidden="true"></i>
          </div>
          <div class="desc">
            <h6 class="title text-uppercase">Email Address</h6>
            <div class="contact">
              <a href="mailto:info@dataarc.com">info@dataarc.com</a> <br>
              <a href="mailto:support@dataarc.com">support@dataarc.com</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="single-widget d-flex flex-wrap justify-content-between">
          <div class="icon d-flex align-items-center justify-content-center">
            <i class="fa fa-phone" style="font-size:2rem;margin-top:10%;color:white" aria-hidden="true"></i>
          </div>
          <div class="desc">
            <h6 class="title text-uppercase">Phone Number</h6>
            <div class="contact">
              <a href="tel:1545">012 4562 982 3612</a> <br>
              <a href="tel:54512">012 6321 956 4587</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer>
    <div class="container">
      <div class="footer-content d-flex justify-content-between align-items-center flex-wrap">
        <div class="logo">
          <a href="#"><img src="assets/img/f-logo.png" alt=""></a>
        </div>
        <div class="copy-right-text">Copyright &copy; 2017 | All rights reserved. This template is made with <i class="fa fa-heart-o"
            aria-hidden="true"></i> by <a href="https://facebook.com" target="_blank">Sai sanjan reddy</a></div>
        <div class="footer-social">
          <a href="#" style="margin-right:4px"><i class="fa fa-facebook"></i></a>
          <a href="#" style="margin-right:4px"><i class="fa fa-twitter"></i></a>
          <a href="#" style="margin-right:4px"><i class="fa fa-dribbble"></i></a>
          <a href="#" style="margin-right:4px"><i class="fa fa-behance"></i></a>
        </div>
      </div>
    </div>
  </footer>
</section>
